.footer {
    background-color:#1e3443;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .footer-content {
      padding: 0 20px;
    }
  }